@model IEnumerable<GenreNodeViewModel>

<div id="genres" class="form-group">
    Select genres: <br />
    @{
        if (Model != null)
        {
            foreach (var genreNode in Model)
            {
                <input type="checkbox" value="@(genreNode.GenreNodeId)"
                    @(genreNode.Checked ? "checked=\"checked\"" : "")) />
                @(genreNode.GenreName)  <br />

                if (genreNode.SubGenreModels != null)
                {
                    foreach (var sgenre in genreNode.SubGenreModels)
                    {
                        <input type="checkbox" value="@(sgenre.GenreName)" style="margin-left: 15px"
                            @(sgenre.Checked ? "checked=\"checked\"" : "")) />
                        @(sgenre.GenreName)  <br />
                    }
                }
            }
        }
    }
</div>