<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - game_store</title>
    <meta charset="UTF-8">
    <meta name="description" content="Game Warrior Template">
    <meta name="keywords" content="warrior, game, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="@Url.Content("/img/favicon.ico")" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="@Url.Content("/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/css/owl.carousel.css")" />
    <link rel="stylesheet" href="@Url.Content("/css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("/css/animate.css")" />
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header section -->
    <header class="header-section">
        <div class="container">
            <!-- logo -->
            <a class="site-logo" asp-controller="Home" asp-action="Index">
                <img src="img/logo.png" alt="">
            </a>
            <div class="user-panel">
                <a class="site-btn btn-sm" asp-controller="Game" asp-action="NewGamePage">Add game</a>
            </div>
            <!-- responsive -->
            <div class="nav-switch">
                <i class="fa fa-bars"></i>
            </div>
            <!-- site menu -->
            <nav class="main-menu">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Games</a></li>
                    <li><a href="categories.html">Blog</a></li>
                    <li><a href="community.html">Forums</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Header section end -->
    <section class="recent-game-section spad set-bg" data-setbg="img/recent-game-bg.png">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <ul class="footer-menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="review.html">Games</a></li>
                <li><a href="categories.html">Blog</a></li>
                <li><a href="community.html">Forums</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <p class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </footer>
    <!-- Footer section end -->

    <!--====== Javascripts & Jquery ======-->
    <script src="@Url.Content("/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("/js/jquery.marquee.min.js")"></script>
    <script src="@Url.Content("/js/main.js")"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
