<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - game_store</title>
    <meta charset="UTF-8">
    <meta name="description" content="Game Warrior Template">
    <meta name="keywords" content="warrior, game, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="@Url.Content("/img/favicon.ico")" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="@Url.Content("/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/css/owl.carousel.css")" />
    <link rel="stylesheet" href="@Url.Content("/css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("/css/site.css")"/>
    <link rel="stylesheet" href="@Url.Content("/css/animate.css")" />

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header section -->
    <header class="header-section">
        <partial name="_LoginPartial" />
    </header>

    <!-- Header section end -->
    <section class="recent-game-section spad" >
        <div class="container">
            
            @RenderBody()
        </div>
    </section>

    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <ul class="footer-menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <p class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </footer>
    <!-- Footer section end -->

    <!--====== Javascripts & Jquery ======-->
    <script src="@Url.Content("/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("/js/jquery.marquee.min.js")"></script>
    <script src="@Url.Content("/js/main.js")"></script>
    <script src="@Url.Content("/lib/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("/lib/bootstrap/dist/js/bootstrap.js")"></script>
    <script src="@Url.Content("/js/site.js")" asp-append-version="true"></script>
    <script src="@Url.Content("/js/game-store/game.js")" asp-append-version="true"></script>
    <script src="@Url.Content("/js/game-store/comment.js")" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
