@model GamesListViewModel

@inject SignInManager<GameStoreUser> SignInManager
@inject UserManager<GameStoreUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<div class="row">
    <div class="col-lg-5 col-md-6">
        <div class="widget-item">
            <a class="site-btn btn-sm" asp-controller="Game" asp-action="NewGame">Add game</a>
        </div>
    </div>
    <form id="gamesFilterForm" onsubmit="applyGamesFilter()">
        <div class="col-lg-5 col-md-6">
            <div class="widget-item">
                <input type="text" placeholder="Search" name="TitleSubstring" value="@(Model.FilterOptions.TitleSubstring)">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#editGenres">
                Filter by genres
            </button>
            <div class="modal fade" id="editGenres" tabindex="-1" aria-labelledby="gameGenresEditLbl" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="gameGenresEditLbl">Edit game genres</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <div class="row g-3 align-items-end">
                                    <partial name="_GenresView" model="@(Model.GenreModels)" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-dark" data-bs-dismiss="modal">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<br />
<div class="row">
    @foreach (var game in Model.Games)
    {
        <div class="col-lg-4 col-md-6">
            <div class="recent-game-item">
                <div class="rgi-thumb set-bg" data-setbg="@(game.GameImageUrl)">
                    @if (!string.IsNullOrEmpty(game.GenresAsString))
                    {
                        <div class="cata racing">@(game.GenresAsString)</div>
                    }
                </div>
                <div id="rgi@(game.Id)" class="rgi-content">
                    <a asp-controller="Game" asp-action="ViewGame" asp-route-gameId="@game.Id"><h5>@game.Title</h5></a>
                    <p class="comment">@(game.LeveledComments.Count()) Comments</p>
                    <div class="rgi-extra">
                        <p>$@game.Price</p>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @*if (currentUser.Cart == null)
                        {
                            currentUser.Cart = new Cart { UserId = currentUser.Id };
                        }*@

                        @if (currentUser.Cart.Items.Any(i => i.GameId == game.Id))
                        {
                            <a class="site-btn btn-sm" asp-controller="Cart" asp-action="Index">View in cart</a>
                        }
                        else
                        {
                            <form id="gameDataForm@(game.Id)" onsubmit="addGameIntoCart('@(game.Id)')">
                                <input name="gameId" type="hidden" value="@(game.Id)">
                                <input name="userId" type="hidden" value="@(currentUser?.Id)">
                                <button id="buyBtn@(game.Id)" type="submit" class="site-btn btn-sm">Buy</button>
                            </form>
                        }
                    }
                    else
                    {
                        <a type="submit" class="site-btn btn-sm" asp-area="Identity" asp-page="/Account/Login">Buy</a>
                    }
                </div>
            </div>
        </div>
    }
    <partial name="_AddedIntoCartToastForm" />
</div>
