@model Cart

<style>
    .cart-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        background-color: lightslategray
    }

    .game-image {
        margin-right: 10px;
        width: 200px;
        height: 150px;
        object-fit: cover;
    }

    .game-title {
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 5px;
    }

    .total-sum {
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 5px;
        color: ghostwhite;
        background-color: lightslategray
    }

    .game-price {
        font-weight: bold;
        font-size: 18px;
        color: #555;
        margin-bottom: 10px;
    }

    .game-details {
        flex-direction: column;
        flex: 1;
        margin-right: 10px;
    }

    .game-price-details {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 10px;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        font-size: 20px;
        color: #555;
        background-color: #fff;
    }

        .btn:hover {
            background-color: #eee;
        }

        .btn.disabled {
            cursor: default;
            opacity: 0.5;
        }

    .close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        font-size: 20px;
        color: #555;
        background-color: #fff;
    }

        .close-btn:hover {
            background-color: #eee;
        }
</style>

<div id="totalSum" class="total-sum">Cart total sum: $@(Model.TotalSum)</div>

@if (Model.Items.Any())
{
    foreach (var item in Model.Items)
    {
        string imgDataUrl;
        if (item.Game.Image != null && item.Game.Image.Length != 0)
        {
            var gameImage = Convert.ToBase64String(item.Game.Image);
            imgDataUrl = string.Format("data:image/jpg;base64,{0}", gameImage);
        }
        else
        {
            imgDataUrl = "/img/default-game-image.jpeg";
        }

        <div id="cartItem@(item.Id)" class="cart-item">
            <form id="cartItemForm@(item.Id)">
                <input type="hidden" name="cartId" value="@(Model.Id)">
                <input type="hidden" name="itemId" value="@(item.Id)">
            </form>
            <img class="game-image" src="@imgDataUrl" alt="Game Image">
            <div class="game-details">
                <div class="game-title">@(item.Game.Title)</div>
                <div class="game-price">$@(item.Game.Price)</div>
                <div class="btn-group">
                    <div class="btn minus" onclick="decreaseGameQuantity(@(item.Id))">-</div>
                    <div id="quantityItem@(item.Id)" class="btn quantity">@(item.Quantity)</div>
                    <div class="btn plus" onclick="increaseGameQuantity(@(item.Id))">+</div>
                </div>
            </div>
            <div class="game-price-details">
                <div class="game-title">Total</div>
                <div id="sumItem@(item.Id)" class="game-price">$@(item.Sum)</div>
            </div>
            <div class="close-btn" onclick="removeGameFromCart(@(item.Id))">X</div>
        </div>
    }
}
else
{
    <p>There is no games yet.</p>
}